w2v2-L-robust-12
*.tar
data/
extract.py
fine_tuning.ipynb
predict_emotion.ipynb
*.pth
__pycache__
.DS_Store
./__pycache__
model_checkpoint_sampled.pth
interface.py
.stfolder
*.wav
.vscode
parallelism.py