w2v2-L-robust-12
*.tar
data/
extract.py
fine_tuning.ipynb
predict_emotion.ipynb
*.pth
__pycache__
.DS_Store
./__pycache__
.stfolder
.stignore
*.wav
.vscode
parallelism.py
myenv/
runs/
vocal_assistant/emotion/smac3_output/
survey/