pyaudio>=0.2.14
SpeechRecognition>=3.10.4
pyttsx3>=2.98
torch>=2.4.1
librosa>=0.10.2
pydub>=0.25.1
ffmpeg>=1.4
pandas>=2.0.3
transformers>=4.46.1
torchmetrics>=1.5.1
torchvision>=0.20.1
tk>=0.1.0
torchaudio>=2.5.1